.feedback {
  text-transform: lowercase;
  font-weight: 300;
  padding: 20px 0;
  border-radius: 3px;
  background-color: rgb(121, 119, 118);
  text-align: center;
  width: 350px;
  margin: 10px auto;
}
.feedbackValue {
  margin-left: 10px;
}
.total {
  margin-top: 30px;
}
.positiveFeedback {
  margin-top: 50px;
  text-transform: uppercase;
  font-weight: 600;
}
